{
  "openapi": "3.1.0",
  "info": {
    "title": "PeeringDB REST API",
    "description": "REST API for the PeeringDB dataset. Provides list and detail endpoints for all PeeringDB entity types with full filter support matching the upstream PeeringDB API conventions.",
    "version": "3.7.0+2.77.1",
    "contact": {
      "name": "PDBFE",
      "url": "https://pdbfe.dev"
    }
  },
  "servers": [
    {
      "url": "https://rest.pdbfe.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/org": {
      "get": {
        "operationId": "list_org",
        "summary": "List Organizations",
        "description": "Returns a list of organizations matching the given filters.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Maximum number of results to return (max 250)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip for pagination."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 3
            },
            "description": "Expansion depth for related objects (0-3)."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Unix epoch. Only return records updated since this time."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with - for descending."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in the response."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name"
          },
          {
            "name": "name__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (contains operator)"
          },
          {
            "name": "name__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (startswith operator)"
          },
          {
            "name": "name__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (in operator) \u2014 comma-separated values"
          },
          {
            "name": "aka",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka"
          },
          {
            "name": "aka__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (contains operator)"
          },
          {
            "name": "aka__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (startswith operator)"
          },
          {
            "name": "aka__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (in operator) \u2014 comma-separated values"
          },
          {
            "name": "name_long",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long"
          },
          {
            "name": "name_long__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (contains operator)"
          },
          {
            "name": "name_long__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (startswith operator)"
          },
          {
            "name": "name_long__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (in operator) \u2014 comma-separated values"
          },
          {
            "name": "website",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website"
          },
          {
            "name": "website__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (contains operator)"
          },
          {
            "name": "website__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (startswith operator)"
          },
          {
            "name": "website__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (in operator) \u2014 comma-separated values"
          },
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes"
          },
          {
            "name": "notes__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (contains operator)"
          },
          {
            "name": "notes__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (startswith operator)"
          },
          {
            "name": "notes__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (in operator) \u2014 comma-separated values"
          },
          {
            "name": "address1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1"
          },
          {
            "name": "address1__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1 (contains operator)"
          },
          {
            "name": "address1__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1 (startswith operator)"
          },
          {
            "name": "address1__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1 (in operator) \u2014 comma-separated values"
          },
          {
            "name": "address2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2"
          },
          {
            "name": "address2__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2 (contains operator)"
          },
          {
            "name": "address2__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2 (startswith operator)"
          },
          {
            "name": "address2__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2 (in operator) \u2014 comma-separated values"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city"
          },
          {
            "name": "city__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city (contains operator)"
          },
          {
            "name": "city__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city (startswith operator)"
          },
          {
            "name": "city__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city (in operator) \u2014 comma-separated values"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country"
          },
          {
            "name": "country__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country (contains operator)"
          },
          {
            "name": "country__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country (startswith operator)"
          },
          {
            "name": "country__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country (in operator) \u2014 comma-separated values"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state"
          },
          {
            "name": "state__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state (contains operator)"
          },
          {
            "name": "state__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state (startswith operator)"
          },
          {
            "name": "state__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state (in operator) \u2014 comma-separated values"
          },
          {
            "name": "zipcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode"
          },
          {
            "name": "zipcode__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode (contains operator)"
          },
          {
            "name": "zipcode__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode (startswith operator)"
          },
          {
            "name": "zipcode__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode (in operator) \u2014 comma-separated values"
          },
          {
            "name": "floor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor"
          },
          {
            "name": "floor__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor (contains operator)"
          },
          {
            "name": "floor__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor (startswith operator)"
          },
          {
            "name": "floor__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor (in operator) \u2014 comma-separated values"
          },
          {
            "name": "suite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite"
          },
          {
            "name": "suite__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite (contains operator)"
          },
          {
            "name": "suite__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite (startswith operator)"
          },
          {
            "name": "suite__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite (in operator) \u2014 comma-separated values"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude"
          },
          {
            "name": "latitude__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (lt operator)"
          },
          {
            "name": "latitude__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (gt operator)"
          },
          {
            "name": "latitude__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (lte operator)"
          },
          {
            "name": "latitude__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (gte operator)"
          },
          {
            "name": "latitude__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by latitude (in operator) \u2014 comma-separated values"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude"
          },
          {
            "name": "longitude__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (lt operator)"
          },
          {
            "name": "longitude__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (gt operator)"
          },
          {
            "name": "longitude__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (lte operator)"
          },
          {
            "name": "longitude__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (gte operator)"
          },
          {
            "name": "longitude__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by longitude (in operator) \u2014 comma-separated values"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/org/{id}": {
      "get": {
        "operationId": "get_org",
        "summary": "Get Organization by ID",
        "description": "Returns a single organization by its primary key.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Organization primary key."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 3
            },
            "description": "Expansion depth for related objects (0-3)."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "The organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campus": {
      "get": {
        "operationId": "list_campus",
        "summary": "List Campuses",
        "description": "Returns a list of campuses matching the given filters.",
        "tags": [
          "Campus"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Maximum number of results to return (max 250)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip for pagination."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 3
            },
            "description": "Expansion depth for related objects (0-3)."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Unix epoch. Only return records updated since this time."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with - for descending."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in the response."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name"
          },
          {
            "name": "name__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (contains operator)"
          },
          {
            "name": "name__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (startswith operator)"
          },
          {
            "name": "name__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (in operator) \u2014 comma-separated values"
          },
          {
            "name": "name_long",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long"
          },
          {
            "name": "name_long__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (contains operator)"
          },
          {
            "name": "name_long__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (startswith operator)"
          },
          {
            "name": "name_long__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (in operator) \u2014 comma-separated values"
          },
          {
            "name": "aka",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka"
          },
          {
            "name": "aka__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (contains operator)"
          },
          {
            "name": "aka__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (startswith operator)"
          },
          {
            "name": "aka__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (in operator) \u2014 comma-separated values"
          },
          {
            "name": "website",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website"
          },
          {
            "name": "website__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (contains operator)"
          },
          {
            "name": "website__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (startswith operator)"
          },
          {
            "name": "website__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (in operator) \u2014 comma-separated values"
          },
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes"
          },
          {
            "name": "notes__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (contains operator)"
          },
          {
            "name": "notes__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (startswith operator)"
          },
          {
            "name": "notes__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (in operator) \u2014 comma-separated values"
          },
          {
            "name": "org_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id"
          },
          {
            "name": "org_id__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (lt operator)"
          },
          {
            "name": "org_id__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (gt operator)"
          },
          {
            "name": "org_id__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (lte operator)"
          },
          {
            "name": "org_id__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (gte operator)"
          },
          {
            "name": "org_id__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by org_id (in operator) \u2014 comma-separated values"
          }
        ],
        "responses": {
          "200": {
            "description": "List of campuses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampusListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campus/{id}": {
      "get": {
        "operationId": "get_campus",
        "summary": "Get Campus by ID",
        "description": "Returns a single campus by its primary key.",
        "tags": [
          "Campus"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campus primary key."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 3
            },
            "description": "Expansion depth for related objects (0-3)."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "The campus.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampusDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Campus not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fac": {
      "get": {
        "operationId": "list_fac",
        "summary": "List Facilities",
        "description": "Returns a list of facilities matching the given filters.",
        "tags": [
          "Facility"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Maximum number of results to return (max 250)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip for pagination."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 3
            },
            "description": "Expansion depth for related objects (0-3)."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Unix epoch. Only return records updated since this time."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with - for descending."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in the response."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name"
          },
          {
            "name": "name__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (contains operator)"
          },
          {
            "name": "name__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (startswith operator)"
          },
          {
            "name": "name__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (in operator) \u2014 comma-separated values"
          },
          {
            "name": "website",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website"
          },
          {
            "name": "website__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (contains operator)"
          },
          {
            "name": "website__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (startswith operator)"
          },
          {
            "name": "website__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (in operator) \u2014 comma-separated values"
          },
          {
            "name": "aka",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka"
          },
          {
            "name": "aka__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (contains operator)"
          },
          {
            "name": "aka__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (startswith operator)"
          },
          {
            "name": "aka__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (in operator) \u2014 comma-separated values"
          },
          {
            "name": "name_long",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long"
          },
          {
            "name": "name_long__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (contains operator)"
          },
          {
            "name": "name_long__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (startswith operator)"
          },
          {
            "name": "name_long__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (in operator) \u2014 comma-separated values"
          },
          {
            "name": "clli",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by clli"
          },
          {
            "name": "clli__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by clli (contains operator)"
          },
          {
            "name": "clli__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by clli (startswith operator)"
          },
          {
            "name": "clli__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by clli (in operator) \u2014 comma-separated values"
          },
          {
            "name": "rencode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rencode"
          },
          {
            "name": "rencode__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rencode (contains operator)"
          },
          {
            "name": "rencode__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rencode (startswith operator)"
          },
          {
            "name": "rencode__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rencode (in operator) \u2014 comma-separated values"
          },
          {
            "name": "npanxx",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by npanxx"
          },
          {
            "name": "npanxx__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by npanxx (contains operator)"
          },
          {
            "name": "npanxx__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by npanxx (startswith operator)"
          },
          {
            "name": "npanxx__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by npanxx (in operator) \u2014 comma-separated values"
          },
          {
            "name": "tech_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_email"
          },
          {
            "name": "tech_email__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_email (contains operator)"
          },
          {
            "name": "tech_email__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_email (startswith operator)"
          },
          {
            "name": "tech_email__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_email (in operator) \u2014 comma-separated values"
          },
          {
            "name": "tech_phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_phone"
          },
          {
            "name": "tech_phone__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_phone (contains operator)"
          },
          {
            "name": "tech_phone__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_phone (startswith operator)"
          },
          {
            "name": "tech_phone__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tech_phone (in operator) \u2014 comma-separated values"
          },
          {
            "name": "sales_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_email"
          },
          {
            "name": "sales_email__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_email (contains operator)"
          },
          {
            "name": "sales_email__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_email (startswith operator)"
          },
          {
            "name": "sales_email__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_email (in operator) \u2014 comma-separated values"
          },
          {
            "name": "sales_phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_phone"
          },
          {
            "name": "sales_phone__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_phone (contains operator)"
          },
          {
            "name": "sales_phone__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_phone (startswith operator)"
          },
          {
            "name": "sales_phone__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by sales_phone (in operator) \u2014 comma-separated values"
          },
          {
            "name": "property",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by property"
          },
          {
            "name": "property__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by property (contains operator)"
          },
          {
            "name": "property__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by property (startswith operator)"
          },
          {
            "name": "property__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by property (in operator) \u2014 comma-separated values"
          },
          {
            "name": "diverse_serving_substations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by diverse_serving_substations"
          },
          {
            "name": "available_voltage_services",
            "in": "query",
            "required": false,
            "schema": {},
            "description": "Filter by available_voltage_services"
          },
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes"
          },
          {
            "name": "notes__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (contains operator)"
          },
          {
            "name": "notes__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (startswith operator)"
          },
          {
            "name": "notes__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (in operator) \u2014 comma-separated values"
          },
          {
            "name": "region_continent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by region_continent"
          },
          {
            "name": "region_continent__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by region_continent (contains operator)"
          },
          {
            "name": "region_continent__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by region_continent (startswith operator)"
          },
          {
            "name": "region_continent__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by region_continent (in operator) \u2014 comma-separated values"
          },
          {
            "name": "status_dashboard",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard"
          },
          {
            "name": "status_dashboard__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard (contains operator)"
          },
          {
            "name": "status_dashboard__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard (startswith operator)"
          },
          {
            "name": "status_dashboard__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard (in operator) \u2014 comma-separated values"
          },
          {
            "name": "org_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id"
          },
          {
            "name": "org_id__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (lt operator)"
          },
          {
            "name": "org_id__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (gt operator)"
          },
          {
            "name": "org_id__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (lte operator)"
          },
          {
            "name": "org_id__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by org_id (gte operator)"
          },
          {
            "name": "org_id__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by org_id (in operator) \u2014 comma-separated values"
          },
          {
            "name": "campus_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by campus_id"
          },
          {
            "name": "campus_id__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by campus_id (lt operator)"
          },
          {
            "name": "campus_id__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by campus_id (gt operator)"
          },
          {
            "name": "campus_id__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by campus_id (lte operator)"
          },
          {
            "name": "campus_id__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by campus_id (gte operator)"
          },
          {
            "name": "campus_id__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by campus_id (in operator) \u2014 comma-separated values"
          },
          {
            "name": "net_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by net_count"
          },
          {
            "name": "net_count__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by net_count (lt operator)"
          },
          {
            "name": "net_count__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by net_count (gt operator)"
          },
          {
            "name": "net_count__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by net_count (lte operator)"
          },
          {
            "name": "net_count__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by net_count (gte operator)"
          },
          {
            "name": "net_count__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by net_count (in operator) \u2014 comma-separated values"
          },
          {
            "name": "ix_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by ix_count"
          },
          {
            "name": "ix_count__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by ix_count (lt operator)"
          },
          {
            "name": "ix_count__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by ix_count (gt operator)"
          },
          {
            "name": "ix_count__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by ix_count (lte operator)"
          },
          {
            "name": "ix_count__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by ix_count (gte operator)"
          },
          {
            "name": "ix_count__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by ix_count (in operator) \u2014 comma-separated values"
          },
          {
            "name": "carrier_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by carrier_count"
          },
          {
            "name": "carrier_count__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by carrier_count (lt operator)"
          },
          {
            "name": "carrier_count__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by carrier_count (gt operator)"
          },
          {
            "name": "carrier_count__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by carrier_count (lte operator)"
          },
          {
            "name": "carrier_count__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by carrier_count (gte operator)"
          },
          {
            "name": "carrier_count__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by carrier_count (in operator) \u2014 comma-separated values"
          },
          {
            "name": "address1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1"
          },
          {
            "name": "address1__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1 (contains operator)"
          },
          {
            "name": "address1__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1 (startswith operator)"
          },
          {
            "name": "address1__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address1 (in operator) \u2014 comma-separated values"
          },
          {
            "name": "address2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2"
          },
          {
            "name": "address2__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2 (contains operator)"
          },
          {
            "name": "address2__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2 (startswith operator)"
          },
          {
            "name": "address2__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by address2 (in operator) \u2014 comma-separated values"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city"
          },
          {
            "name": "city__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city (contains operator)"
          },
          {
            "name": "city__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city (startswith operator)"
          },
          {
            "name": "city__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city (in operator) \u2014 comma-separated values"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country"
          },
          {
            "name": "country__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country (contains operator)"
          },
          {
            "name": "country__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country (startswith operator)"
          },
          {
            "name": "country__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country (in operator) \u2014 comma-separated values"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state"
          },
          {
            "name": "state__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state (contains operator)"
          },
          {
            "name": "state__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state (startswith operator)"
          },
          {
            "name": "state__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by state (in operator) \u2014 comma-separated values"
          },
          {
            "name": "zipcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode"
          },
          {
            "name": "zipcode__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode (contains operator)"
          },
          {
            "name": "zipcode__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode (startswith operator)"
          },
          {
            "name": "zipcode__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by zipcode (in operator) \u2014 comma-separated values"
          },
          {
            "name": "floor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor"
          },
          {
            "name": "floor__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor (contains operator)"
          },
          {
            "name": "floor__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor (startswith operator)"
          },
          {
            "name": "floor__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by floor (in operator) \u2014 comma-separated values"
          },
          {
            "name": "suite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite"
          },
          {
            "name": "suite__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite (contains operator)"
          },
          {
            "name": "suite__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite (startswith operator)"
          },
          {
            "name": "suite__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by suite (in operator) \u2014 comma-separated values"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude"
          },
          {
            "name": "latitude__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (lt operator)"
          },
          {
            "name": "latitude__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (gt operator)"
          },
          {
            "name": "latitude__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (lte operator)"
          },
          {
            "name": "latitude__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by latitude (gte operator)"
          },
          {
            "name": "latitude__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by latitude (in operator) \u2014 comma-separated values"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude"
          },
          {
            "name": "longitude__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (lt operator)"
          },
          {
            "name": "longitude__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (gt operator)"
          },
          {
            "name": "longitude__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (lte operator)"
          },
          {
            "name": "longitude__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by longitude (gte operator)"
          },
          {
            "name": "longitude__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by longitude (in operator) \u2014 comma-separated values"
          }
        ],
        "responses": {
          "200": {
            "description": "List of facilities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fac/{id}": {
      "get": {
        "operationId": "get_fac",
        "summary": "Get Facility by ID",
        "description": "Returns a single facility by its primary key.",
        "tags": [
          "Facility"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Facility primary key."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 3
            },
            "description": "Expansion depth for related objects (0-3)."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "The facility.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Facility not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/net": {
      "get": {
        "operationId": "list_net",
        "summary": "List Networks",
        "description": "Returns a list of networks matching the given filters.",
        "tags": [
          "Network"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Maximum number of results to return (max 250)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip for pagination."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 3
            },
            "description": "Expansion depth for related objects (0-3)."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Unix epoch. Only return records updated since this time."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with - for descending."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in the response."
          },
          {
            "name": "asn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by asn"
          },
          {
            "name": "asn__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by asn (lt operator)"
          },
          {
            "name": "asn__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by asn (gt operator)"
          },
          {
            "name": "asn__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by asn (lte operator)"
          },
          {
            "name": "asn__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by asn (gte operator)"
          },
          {
            "name": "asn__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by asn (in operator) \u2014 comma-separated values"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name"
          },
          {
            "name": "name__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (contains operator)"
          },
          {
            "name": "name__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (startswith operator)"
          },
          {
            "name": "name__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (in operator) \u2014 comma-separated values"
          },
          {
            "name": "aka",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka"
          },
          {
            "name": "aka__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (contains operator)"
          },
          {
            "name": "aka__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (startswith operator)"
          },
          {
            "name": "aka__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by aka (in operator) \u2014 comma-separated values"
          },
          {
            "name": "name_long",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long"
          },
          {
            "name": "name_long__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (contains operator)"
          },
          {
            "name": "name_long__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (startswith operator)"
          },
          {
            "name": "name_long__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name_long (in operator) \u2014 comma-separated values"
          },
          {
            "name": "irr_as_set",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by irr_as_set"
          },
          {
            "name": "irr_as_set__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by irr_as_set (contains operator)"
          },
          {
            "name": "irr_as_set__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by irr_as_set (startswith operator)"
          },
          {
            "name": "irr_as_set__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by irr_as_set (in operator) \u2014 comma-separated values"
          },
          {
            "name": "website",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website"
          },
          {
            "name": "website__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (contains operator)"
          },
          {
            "name": "website__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (startswith operator)"
          },
          {
            "name": "website__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by website (in operator) \u2014 comma-separated values"
          },
          {
            "name": "looking_glass",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by looking_glass"
          },
          {
            "name": "looking_glass__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by looking_glass (contains operator)"
          },
          {
            "name": "looking_glass__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by looking_glass (startswith operator)"
          },
          {
            "name": "looking_glass__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by looking_glass (in operator) \u2014 comma-separated values"
          },
          {
            "name": "route_server",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by route_server"
          },
          {
            "name": "route_server__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by route_server (contains operator)"
          },
          {
            "name": "route_server__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by route_server (startswith operator)"
          },
          {
            "name": "route_server__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by route_server (in operator) \u2014 comma-separated values"
          },
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes"
          },
          {
            "name": "notes__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (contains operator)"
          },
          {
            "name": "notes__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (startswith operator)"
          },
          {
            "name": "notes__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes (in operator) \u2014 comma-separated values"
          },
          {
            "name": "notes_private",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes_private"
          },
          {
            "name": "notes_private__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes_private (contains operator)"
          },
          {
            "name": "notes_private__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes_private (startswith operator)"
          },
          {
            "name": "notes_private__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by notes_private (in operator) \u2014 comma-separated values"
          },
          {
            "name": "info_traffic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_traffic"
          },
          {
            "name": "info_traffic__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_traffic (contains operator)"
          },
          {
            "name": "info_traffic__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_traffic (startswith operator)"
          },
          {
            "name": "info_traffic__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_traffic (in operator) \u2014 comma-separated values"
          },
          {
            "name": "info_ratio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_ratio"
          },
          {
            "name": "info_ratio__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_ratio (contains operator)"
          },
          {
            "name": "info_ratio__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_ratio (startswith operator)"
          },
          {
            "name": "info_ratio__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_ratio (in operator) \u2014 comma-separated values"
          },
          {
            "name": "info_scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_scope"
          },
          {
            "name": "info_scope__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_scope (contains operator)"
          },
          {
            "name": "info_scope__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_scope (startswith operator)"
          },
          {
            "name": "info_scope__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_scope (in operator) \u2014 comma-separated values"
          },
          {
            "name": "info_types",
            "in": "query",
            "required": false,
            "schema": {},
            "description": "Filter by info_types"
          },
          {
            "name": "info_prefixes4",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes4"
          },
          {
            "name": "info_prefixes4__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes4 (lt operator)"
          },
          {
            "name": "info_prefixes4__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes4 (gt operator)"
          },
          {
            "name": "info_prefixes4__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes4 (lte operator)"
          },
          {
            "name": "info_prefixes4__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes4 (gte operator)"
          },
          {
            "name": "info_prefixes4__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_prefixes4 (in operator) \u2014 comma-separated values"
          },
          {
            "name": "info_prefixes6",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes6"
          },
          {
            "name": "info_prefixes6__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes6 (lt operator)"
          },
          {
            "name": "info_prefixes6__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes6 (gt operator)"
          },
          {
            "name": "info_prefixes6__lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes6 (lte operator)"
          },
          {
            "name": "info_prefixes6__gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by info_prefixes6 (gte operator)"
          },
          {
            "name": "info_prefixes6__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by info_prefixes6 (in operator) \u2014 comma-separated values"
          },
          {
            "name": "info_unicast",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by info_unicast"
          },
          {
            "name": "info_multicast",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by info_multicast"
          },
          {
            "name": "info_ipv6",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by info_ipv6"
          },
          {
            "name": "info_never_via_route_servers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by info_never_via_route_servers"
          },
          {
            "name": "policy_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_url"
          },
          {
            "name": "policy_url__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_url (contains operator)"
          },
          {
            "name": "policy_url__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_url (startswith operator)"
          },
          {
            "name": "policy_url__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_url (in operator) \u2014 comma-separated values"
          },
          {
            "name": "policy_general",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_general"
          },
          {
            "name": "policy_general__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_general (contains operator)"
          },
          {
            "name": "policy_general__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_general (startswith operator)"
          },
          {
            "name": "policy_general__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_general (in operator) \u2014 comma-separated values"
          },
          {
            "name": "policy_locations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_locations"
          },
          {
            "name": "policy_locations__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_locations (contains operator)"
          },
          {
            "name": "policy_locations__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_locations (startswith operator)"
          },
          {
            "name": "policy_locations__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_locations (in operator) \u2014 comma-separated values"
          },
          {
            "name": "policy_ratio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by policy_ratio"
          },
          {
            "name": "policy_contracts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_contracts"
          },
          {
            "name": "policy_contracts__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_contracts (contains operator)"
          },
          {
            "name": "policy_contracts__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_contracts (startswith operator)"
          },
          {
            "name": "policy_contracts__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by policy_contracts (in operator) \u2014 comma-separated values"
          },
          {
            "name": "status_dashboard",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard"
          },
          {
            "name": "status_dashboard__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard (contains operator)"
          },
          {
            "name": "status_dashboard__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard (startswith operator)"
          },
          {
            "name": "status_dashboard__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status_dashboard (in operator) \u2014 comma-separated values"
          },
          {
            "name": "rir_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rir_status"
          },
          {
            "name": "rir_status__contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rir_status (contains operator)"
          },
          {
            "name": "rir_status__startswith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rir_status (startswith operator)"
          },
          {
            "name": "rir_status__in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by rir_status (in operator) \u2014 comma-separated values"
          },
          {
            "name": "rir_status_updated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by rir_status_updated"
          },
          {
            "name": "rir_status_updated__lt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by rir_status_updated (lt operator)"
          },
          {
            "name": "rir_status_updated__gt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by rir_status_updated (gt operator)"
          },
          {
            "name": "rir_status_updated__lte",
            "in": "query",
[...]
