name = "pdbfe-api"
main = "api/index.js"
compatibility_date = "2026-03-18"
workers_dev = true

routes = [
  { pattern = "api.<your-domain>/*", zone_name = "<your-domain>" }
]

[vars]
PDBFE_VERSION = "<your-version>"

[[d1_databases]]
binding = "PDB"
database_name = "peeringdb"
database_id = "<your-d1-database-id>"

[[kv_namespaces]]
binding = "SESSIONS"
id = "<your-sessions-kv-namespace-id>"

[[d1_databases]]
binding = "USERDB"
database_name = "pdbfe-users"
database_id = "<your-users-d1-database-id>"
